.item{
    width: 350px;
}
.item p{
    margin: 6px 0px;
}
.itemprices{
   display: flex;
   gap: 20px; 
}
.itempricenew{
    color: gray;
    font-size: 18px;
    font-weight: 600;
}
.itempriceold{
    color: rgb(86, 84, 84);
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
  transform: scale(1.05);  
  transition: .6s;
}