.cartitems{
   margin: 100px 170px; 
}
.cartitems hr{
    height: 3px;
    background: wheat;
    border: 0;
}
.cartitemsformatmain{
   display: grid;
   grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr; 
   align-items: center;
   gap: 75px;
   padding: 20px 0px;
   color: aqua;
 font-size: 18px;
 font-weight: 600;  
}
.cartitemsformat{
font-size: 17px;
font-weight: 500;


}
.carticon{
height: 62px;

}
.cartitemsremove{
width: 15px;
margin: 0px 40px;
cursor: pointer;

}
.cartitems-quantity{
width: 64px;
height: 50px;
border: 2px wheat;
background: red;
}
.cartitemsdown{
display: flex;
margin: 100px 0px;

}
.cartitemstotal{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;  
}
.carttotalitemsitems{
display: flex;
justify-content: space-between;
padding: 15px 0px;

}
.carttotalitemsitems button{
     width: 262px;
     height: 58px;
     outline: none;
     border: none;
     background: green;
     color: aliceblue;
     font-size: 16px;
     font-weight: 600;
     cursor: pointer;
}
.cartitemspromocode{
 flex: 1;
 font-size: 16px;
 font-weight: 500;   
}
.cartitemspromocode p{
    color: blue;
}
.cartitemspromobox{
   width: 500px;
   margin-top: 15px; 
   padding-left: 20px;
   height:58px;
   background: red;
}
.cartitemspromobox button{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    width: 330px;
    height: 50px;
}
.cartitemspromobox button{
    width: 170px;
    height: 58px;
    font-size:16px;
    background: black;
    color: white;
    cursor: pointer;
}
